.git/
!.git/HEAD
!.git/logs/HEAD
.github/
.vscode/
docs/
scripts/
sql/
test/
tmp/
tools/

# These two folders will be copied into the server folder and backsynced via volumes and some scripting
# For explanation see comments in docker-entrypoint.sh
config/
data/

.dockerignore
.gitattributes
.gitignore
COPYING
Dockerfile
LICENSE-*
README.md
SpacemanDMM.toml
*.bat
*.bak
*.old