# Project folders
.git/
!.git/HEAD
!.git/logs/HEAD
.github/
.vscode/
docs/
test/
tmp/
tools/
# These two folders have persistent data and should be mounted
config/
data/

# Project files
.dockerignore
.editorconfig
.gitattributes
.gitignore
COPYING
docker-build-and-run.sh
Dockerfile
LICENSE*
README.md
SpacemanDMM.toml

# Common backup file extensions
*.bak
*.old
# Windows-specific files are not relevant inside linux containers
*.dll
*.bat
