# Common files
__pycache__
.idea
Thumbs.db
*.log
*.int
*.rsc
*.dmb
*.lk
*.backup
*.before
*.db
*.db-*
*.bak
*.old
data/
cfg/
build_log.txt
use_map

# ignore config, but not subdirs
config/*
!config/names/
!config/example/
!config/warnings_templates/
!config/schema/
