# Common files
__pycache__
.idea
Thumbs.db
*.log
*.int
*.rsc
*.dmb
*.lk
*.bak
*.backup
*.before
*.db
*.db-*
*.old
build_log.txt
tmp/

# Ignore docker-specific files in the root folder, they should stay in tools/docker_files
docker-*.bat
docker-*.sh
Dockerfile
libmariadb.so

# Folders
data/
config/*
# Everything but the example config should be ignored
!config/example/
