.greentext {
	color: #90ee90;
	font-weight: bold;
}

.redtext {
	color: #ef2f3c;
	font-weight: bold;
}

.header {
	font-size: 24px; font-weight: bold;
}

.big {
	font-size: 24px;
}

.redborder {
	border-bottom: 2px solid #ef2f3c;
}

.greenborder {
	border-bottom: 2px solid #90ee90;
}

.stationborder {
	border-bottom: 2px solid #add8e6;
}

li {
	margin-bottom: 0.2rem;
}

.panel {
	background-color: #313131;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 5px;
}

body {
	background-color: #272727;
	color: #efefef;
}
